#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// Login page styles
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 400px;

  .login-header {
    display: flex;
    flex-direction: column;
    max-height: 300px;

    .title {
      font-size: 70px;
      margin: 0;
    }
    .subtitle {
      font-size: 20px;
      margin: 0;
    }
  }

  .login-content {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      // temporary
      button {
        width: 300px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid black;
        padding: 0px 10px;
      }
    }
  }

  .login-footer {
    font-size: 15px;
  }
}

// Input styles
.user-info-input {
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 0px 10px;

  font-size: 15px;
}

// Main page styles
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
